<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Imager Site</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'imager/base.css' %}" />
  </head>
  <body>
    <header>
      <h2><a href="/accounts/profile">{{user.username}}</a></h2>
      <img id="logo" src="{{img_url}}" alt="" />
      <h1>TITLE GOES HERE</h1>
      <ul id="loginout">
        {% if user.is_authenticated %}
        <li class="loginout"><a href="/logout">Logout</a></li>
        {% else %}
        <li class="loginout"><a href="/accounts/login">Login</a></li>
        <li class="loginout"><a href="/accounts/register">Register</a></li>
        {% endif %}
      </ul>
      <nav>
        <ul id="nav_ul">
          <li class="nav_li"><a href="/">Home</a></li>
          {% if user.is_authenticated %}
          <li class="nav_li"><a href="/images/library/">Library</a></li>
          <li class="nav_li"><a href="/images/albums/add">Add Album</a></li>
          <li class="nav_li"><a href="/images/photos/add">Add Photo</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
