<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Imager Site</title>
  </head>
  <body>
    <header>
      <h1>{{user.username}}</h1>
      <img id="logo" src="{{img_url}}" alt="" />
      <h1>TITLE GOES HERE</h1>
      <ul id="loginout">
        <li class="loginout"><a href="/accounts/login">Login</a></li>
        <li class="loginout"><a href="/logout">Logout</a></li>
        <li class="loginout"><a href="/accounts/register">Register</a></li>
      </ul>
      <nav>
        <ul id="nav_ul">
          <li class="nav_li">Home</li>
          <li class="nav_li">About</li>
          <li class="nav_li">Resources</li>
        </ul>
      </nav>
    </header>
  </body>
</html>
