body {
    background-color: orange;
}

h1 {
    width: 50%;
    font-size: 3em;
    text-decoration: overline;
    -webkit-animation: rwbfader 5s infinite;
}

a {
    text-decoration: none;
    color: #43E80C;
}

a:hover {
    -webkit-animation: fader 2s infinite;
}

li {
    font-size: 3em;
    margin: 1px;
}

li:hover {
    transform: rotateX(180deg);
}

@-webkit-keyframes fader {
    0% {color: #43E80C;}
    20% {color: red;}
    40% {color: white;}
    60% {color: blue;}
    80% {color: #C1C;}
    1000% {color: #43E80C;}
}

@-webkit-keyframes rwbfader {
    0% {color: blue;}
    20% {color: red;}
    60% {color: white;}
    100% {color: blue;}
}
